<h1>This is the about page</h1>
<h2>What is this home page?</h2>
    This is the home page to practice Ruby On Rails.
<h2>What is your objectives?</h2>
<ul>
    <li>Skill</li>
    <li>Experience</li>
    <li>Money</li>
</ul>
<h2>What is your goal of this practice?</h2>
    Create one product by myself to kick-off product development of my own service.
    
    
<%= link_to 'Home Page', root_path %>
<%= link_to 'Profile Page', welcome_profile_path %>