<h1>This is the profile page</h1>
    <h2>Name</h2>
        Takahiro Hirai
    <h2>Birthday</h2>
        1990/03/09
    <h2>Hobby</h2>
        <ul>
            <li>Snowboard</li>
            <li>Running</li>
            <li>Travelling</li>
        </ul>
    <h2>Birthplace</h2>
        Osaka
        
<%= link_to 'Home Page', root_path %>
<%= link_to 'About Page', welcome_about_path %>